/* Overide theme */
.movie-detail-header-image {
    width: 100%;
    height: 100%;
}

#movie-detail-header-pro .progression-studios-slider-more-options {
    position: absolute;
    top: 0;
    right: 0;
}
